@import "reset";
@import "colors";
@import "mixins";

html {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

header {
	background: url("../img/bg.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;

	nav {
		display: flex;
		justify-content: center;

		ul {
			background-color: rgba($black + 50, 0.8);
			box-shadow: 1px 1px 10px rgba($black, 0.8);
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
		}

		li {
			display: inline-block;
			border-left: none;
			&:first-child {
				border-bottom-left-radius: 6px;
			}
			&:last-child {
				border-bottom-right-radius: 6px;
			}
			&:hover {
				background-color: rgba($black, 0.15);
			}
		}

		a {
			text-decoration: none;
			color: $white;
			display: inline-block;
			padding: 15px;
			font-size: 1.2rem;
			position: relative;
		}
	}

	.socials {
		top: 100px;
		position: fixed;
		right: 0px;

		li {
			display: block;
			margin-top: 5px;
			position: relative;
			right: -140px;
			transition: right 0.5s ease;
			&:hover {
				right: -25px;
			}
		}

		a {
			width: 180px;
			overflow: hidden;
			border-bottom-left-radius: 15px;
			border-top-left-radius: 15px;
			display: inline-block;
			text-decoration: none;
			text-indent: 20px;
			box-sizing: border-box;
			padding: 5px 8px;
			color: $white;
			&:before {
				font-size: 1.7rem;
				float: left;
				text-indent: 0px;
			}
			&.fa {
				font-size: 1.7rem;
			}
			&.fa-facebook {
				border: 1px solid rgba($fb - 50, 80%);
				padding-left: 10px;
				background-color: $fb;
			}
			&.fa-github {
				border: 1px solid rgba($black + 60, 80%);
				text-indent: 30px;
				background-color: $black;
			}
			&.fa-linkedin {
				border: 1px solid rgba($linked - 50, 80%);
				background-color: $linked;
			}
		}

		span {
			font-family: 'Raleway', sans-serif;
			font-size: 1.4rem;
		}
	}

	.site-title {
		height: calc(100vh - 100px);
		display: flex;
		align-items: center;
		justify-content: center;

		h1 {
			color: $white;
			display: inline-block;
			text-align: center;
			font-size: 5rem;
			line-height: 6rem;
			text-shadow: 1px 1px 5px $black, 1px 1px 50px $black;
		}
	}
}

main {
	h2 {
		font-size: 2rem;
		margin-bottom: 30px;
	}

	.section-container {
		width: 90%;
		max-width: 1300px;
		margin: 0 auto;
		padding: 40px 0;
	}
}

#o-mnie {
	background-color: $section1;

	.about {
		background-color: rgba($white, 0.8);
		padding: 20px;
		border-radius: 20px;
		box-shadow: 2px 2px 20px -5px;
		margin: 0 20px;
		display: flex;
		justify-content: center;
	}

	img {
		width: 192px;
		height: 192px;
		border-radius: 100%;
		border: 4px solid $black + 220;
	}

	.text-container {
		margin-left: 30px;
		padding: 30px 0;

		span {
			font-weight: 600;
		}

		strong {
			font-weight: 600;
		}
	}

	p {
		margin-bottom: 15px;
		line-height: 22px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.skills {
		margin-top: 50px;

		h3 {
			font-size: 1.5rem;
			text-align: center;
			margin-bottom: 15px;
		}

		.skills-container {
			font-size: 1.2rem;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			width: 450px;
		}

		span {
			color: $white;
			padding: 10px 20px;
			margin: 5px;
			cursor: pointer;
			&:nth-child(5n) {
				@include tile($blue);
			}
			&:nth-child(5n+1) {
				@include tile($orange);
			}
			&:nth-child(5n+2) {
				@include tile($green);
			}
			&:nth-child(5n+3) {
				@include tile($red);
			}
			&:nth-child(5n+4) {
				@include tile($purple);
			}
		}
	}
}

#projekty {

	.projects-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	img {
		margin: 20px;
		box-shadow: 8px 8px 10px #aaa;
		border: 1px solid black;
	}
}
