$white: #FFFFFF;
$black: #000000;

$fb: #3B5998;
$linked: #007BB5;

$blue: #2870B1;
$orange: #F28A00;
$green: #66D900;
$red: #BA0012;
$purple: #651F9A;

$section1: #DBFDFE;
$section2: #DBFEAB;
$section3: #FDFEE5;

$field: #EFEDE1;
$skyblue: #00AEFF;

$footer: #242729;
