@import "reset";
@import "colors";
@import "mixins";
@import "keyframes";

html {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: url("/assets/img/bg-large.jpg") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	position: relative;

	@include tablet {
		background-image: url("/assets/img/bg-medium.jpg");
	}

	@include mobile {
		background-image: url("/assets/img/bg-small.jpg");
		background-attachment: scroll;
		height: 500px;
	};

	.hamburger {
		display: none;
		position: absolute;
		cursor: pointer;
		top: 8px;
		left: 10px;
		width: 35px;
		height: 27px;
		background-color: transparent;
		border: none;
		border-top: 5px solid $white - 40;
		transition: transform 0.3s linear;
		text-indent: 100px;
		overflow: hidden;

		@include mobile {
			display: block;
		};

		&:focus {
			border-top: 5px solid $white - 100;
			outline: none;

			&:before, &:after {
				border-top: 5px solid $white - 100;
			}
		}

		&:before, &:after {
			content: "";
			display: block;
			top: 0;
			left: 0;
			top: 6px;
			width: 100%;
			border-top: 5px solid $white - 40;
			position: absolute;
		}

		&:after {
			top: 17px;
		}
	}

	.menu {
		top: 0;
		z-index: 2;
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgba($black + 50, 0.9);
		box-shadow: 1px 1px 10px rgba($black, 0.8);
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;

		@include tablet {
			left: 0;
			transform: none;
			width: 100%;
			border-radius: 0;
		};

		@include mobile {
			padding-top: 44px;
			height: 0;
			overflow: hidden;

			&.open {
				background-color: rgba($black + 50, 0.9);
				width: 100%;
				height: auto;
			}
		}


		ul {
			text-align: center;
		}

		li {
			display: inline-block;
			border-left: none;

			@include mobile {
				display: block;
			};

			&:first-child {
				border-bottom-left-radius: 6px;
			}
			&:last-child {
				border-bottom-right-radius: 6px;
			}
			&:hover {
				background-color: rgba($black, 0.15);
			}
		}

		a {
			display: block;
			text-decoration: none;
			color: $white;
			padding: 15px;
			font-size: 1.2rem;
			position: relative;

			&.active {
				color: $skyblue + 40;
			}
		}
	}

	.socials {
		top: 100px;
		z-index: 1;
		position: fixed;
		right: 0px;

		@include mobile {
			display: none;
		};

		li {
			display: block;
			margin-top: 5px;
			position: relative;
			right: -140px;
			transition: right 0.5s ease;
			&:hover {
				right: -25px;
			}
		}

		a {
			width: 180px;
			overflow: hidden;
			border-bottom-left-radius: 15px;
			border-top-left-radius: 15px;
			display: inline-block;
			text-decoration: none;
			text-indent: 20px;
			box-sizing: border-box;
			padding: 5px 8px;
			color: $white;
			&:before {
				font-size: 1.7rem;
				float: left;
				text-indent: 0px;
			}
			&.fa {
				font-size: 1.7rem;
				border: 2px solid rgba(255, 255, 255, 0.6);
			}
			&.fa-twitter {
				padding-left: 10px;
				background-color: $twitter;
			}
			&.fa-github {
				text-indent: 30px;
				background-color: $black;
			}
			&.fa-linkedin {
				background-color: $linked;
			}
		}

		span {
			font-family: 'Nunito', sans-serif;
			font-size: 1.4rem;
		}
	}

	.site-title {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		h1 {
			padding: 0 10px;
			color: $white;
			display: inline-block;
			text-align: center;
			font-family: 'Nunito', sans-serif;
			letter-spacing: 1px;
			font-size: 5rem;
			text-shadow: 1px 1px 5px $black, 1px 1px 20px $black;
			opacity: 0;
			transition: transform 1.5s, opacity 1.5s;
			transform: translateY(15px);

			&.animated {
				transform: translateY(0);
				opacity: 1;
			}

			@include tablet {
				font-size: 4rem;
			};

			@include mobile {
				font-size: 3rem;
			};
		}

		strong {
			display: block;
			margin-top: 15px;
		}
	}

	.scroll-arrow {
		position: absolute;
		cursor: pointer;
		box-sizing: border-box;
		padding: 15px;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20px;
		display: inline-block;
		border-radius: 50%;
		border: 2px solid rgba($white, 0.9);
		background-color: rgba($black, 0.7);

		&:hover {
			background-color: rgba($black, 0.8);
			border: 2px solid rgba($white, 1);
		}

		span {
			font-size: 1.5rem;
			color: rgba($white, 0.9);
			animation: move 1.5s infinite linear;
			transform: translateY(20px);
		}
	}
}

main {
	h2 {
		font-family: 'Nunito', sans-serif;
		font-size: 2rem;
		margin-bottom: 30px;
	}

	.section-container {
		opacity: 0;
		width: 92%;
		max-width: 1300px;
		margin: 0 auto;
		padding: 50px 0;
		transform: translateY(30px);
		transition: transform ease 1.5s, opacity ease 1.5s;

		&.animated {
			transform: translateY(0);
			opacity: 1;
		}
	}
}

#about {
	background-color: $section1;
	border-top: 1px solid $section1 - 30;
	border-bottom: 1px solid $section1 - 30;

	.about-text {
		background-color: rgba($white, 0.8);
		padding: 20px;
		border-radius: 20px;
		box-shadow: 2px 2px 20px -5px;
		margin: 0 20px;
		display: flex;
		justify-content: center;

		@include mobile {
			align-items: center;
			flex-direction: column;
			margin: 0;
		};
	}

	img {
		margin: 10px 0;
		width: 170px;
		height: 170px;
		border-radius: 100%;
		border: 2px solid $white;
		box-shadow: 0 0 10px $black;
	}

	.text-container {
		margin-left: 30px;
		padding: 30px 0;

		@include mobile {
			margin-left: 0;
		};
		span {
			font-weight: 600;
		}

		strong {
			font-weight: 600;
		}
	}

	p {
		margin-bottom: 15px;
		line-height: 22px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.about-link {
		color: $black;
	}

	.skills {
		margin-top: 50px;

		h3 {
			font-size: 1.5rem;
			text-align: center;
			margin-bottom: 15px;
		}

		.skills-container {
			font-size: 1.2rem;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			max-width: 450px;
		}

		li {
			cursor: default;
			color: $white;
			padding: 10px 20px;
			margin: 5px;
			&:nth-child(5n) {
				@include tile($blue);
			}
			&:nth-child(5n+1) {
				@include tile($orange);
			}
			&:nth-child(5n+2) {
				@include tile($green);
			}
			&:nth-child(5n+3) {
				@include tile($red);
			}
			&:nth-child(5n+4) {
				@include tile($purple);
			}
		}
	}
}

#projects {
	background-color: $section2;
	border-bottom: 1px solid $section2 - 30;

	.projects-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.project {
		margin: 20px;
		box-shadow: 0 2px 20px rgba($black, 0.7);

		@include mobile {
			margin: 25px 0px;
		};
	}

	.project-content {
		border: 1px solid black;
		border-bottom: none;
		position: relative;

		&:hover .project-mask{
			visibility: visible;
			opacity: 0.9;
		}
	}

	.project-mask {
		position: absolute;
		top: 0;
		left: 0;
		background-color: $black;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		transition: visibility 0.5s, 	opacity 0.5s;
		text-align: center;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
	}

	h3 {
		color: $white;
		text-align: center;
		margin-top: 20px;
		font-family: 'Nunito', sans-serif;
		font-size: 2rem;
		padding: 10px;
		background-color: $blue;

		@include mobile {
			padding: 5px;
			margin-top: 10px;
			font-size: 1.3rem;
		};
	}

	span {
		text-transform: uppercase;
		display: inline-block;
		border-bottom: 1px solid $white;
		color: $white;
		font-size: 0.8rem;
		margin: 5% 0 5px 0;
		line-height: 1.5rem;

		@include mobile {
			font-size: 0.7rem;
			line-height: 1rem;
		};

		@include xs {
			margin: 2% 0;
		};
	}

	p {
		font-size: 1.2rem;
		line-height: 1.2rem;
		text-align: center;
		box-sizing: border-box;
		padding: 0 10%;
		color: $white;

		@include mobile {
			font-size: 1rem;
			padding: 0 5%;
		};

		@include xs {
			padding: 0 2%;
			line-height: 1rem;
			font-size: 0.9rem;
		};
	}

	.links-container {
		display: flex;
	}

	a {
		display: block;
		font-size: 1.3rem;
		font-family: 'Open Sans', sans-serif;
		text-decoration: none;
		height: 35px;
		color: $white;
		background-color: $skyblue - 20;
		border: 1px solid $skyblue - 70;
		text-align: center;
		line-height: 35px;
		width: 50%;
		transition: all 0.5s;

		@include mobile {
			font-size: 1.2rem;
		};

		&:hover {
			background-color: $skyblue - 50;
			box-shadow: inset 0 0 15px $skyblue - 100;
		}

		&:focus {
			box-shadow: inset 0 0 15px $skyblue - 100;
		}

		&:last-child {
			border-left: none;
		}

		&:before {
			line-height: normal;
			font-family: 'FontAwesome';
			font-size: 1.5rem;
			display: inline-block;
			margin-right: 10px;
		}
	}
}

#contact {
	background-color: $section3;

	.contact-container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.contact-info {
		background-color: rgba($white, 0.8);
		box-shadow: 2px 2px 10px rgba($black, 0.6);
		margin: 20px 10px 0 0;
		box-sizing: border-box;
		padding: 10px 15px;
		align-self: flex-start;
		font-size: 1.5rem;
		border-radius: 20px;

		@include tablet {
			margin: 20px 0px 50px;
			padding: 10px 2%;
		};

		&:before {
			color: rgba($black, 0.4);
			font-size: 2rem;
			text-align: right;
			display: block;
			padding: 0 10px;
		}

		.contact-text {
			display: block;
			font-family: 'Open Sans', sans-serif;
			text-decoration: none;
			color: $black;
			line-height: 3rem;

			@include mobile {
				font-size: 1.2rem;
				letter-spacing: -1px;
			};

			&:before {
				text-indent: -10px;
				text-align: center;
				font-family: 'FontAwesome';
				display: inline-block;
				font-size: 2rem;
				width: 50px;

				@include mobile {
					text-indent: 0;
					width: 30px;
					font-size: 1.3rem;
				}
			}
		}
	}

	form {
		width: 500px;

		label {
			font-size: 1.3rem;
			line-height: 2.5rem;
		}

		.field {
			box-sizing: border-box;
			font-family: 'Open Sans', sans-serif;
			border-radius: 10px;
			border: 1px solid $field - 60;
			font-size: 1rem;
			display: block;
			padding: 10px;
			width: 100%;
			&:focus {
				outline: none;
				border-color: $skyblue - 20;
			}
		}

		button {
			display: block;
			margin: 30px auto 20px auto;
			border: none;
			background-color: $skyblue;
			border-radius: 6px;
			color: $white;
			font-size: 1.4rem;
			padding: 10px;
			width: 200px;
			cursor: pointer;
			transition: background-color 0.3s;
			&:hover {
				background-color: $skyblue - 30;
			}
		}

		.status {
			margin-top: 20px;
			text-align: center;
			padding: 20px;
		}

		.success {
			border: 1px solid $green;
			background-color: #f7fff7;
		}

		.error {
			border: 1px solid $red;
			background-color: #fff7f7;
		}
	}
}

footer {
	background-color: #242729;
	color: $white - 70;
	text-align: center;
	padding: 20px;
	line-height: 1.3rem;

	ul {
		margin-bottom: 5px;
	}

	li {
		display: inline-block;
	}

	a {
		margin: 0 10px;
		display: inline-block;
		text-indent: 60px;
		width: 30px;
		overflow: hidden;
		color: $white - 50;

		&:before {
			text-indent: 0;
			float: left;
			font-size: 2rem;
		}

		&:hover {
			color: $white;
		}
	}
}
